{% extends "template.html" %}

{% block header %}            	
	<div id="nav" class="separator_top">
		 <h2>Fazer um{{productService.article}} {{productService.name}}?</h2>
	</div>
{% endblock header %}

{% block main %} 

<div id="columns">

	<div>
		categorias
		valor
		avaliação
		pessoas
		convidar
	</div>

	<div>
		middlePanel
 	<ul>
 	{% for item in productService.items %}
 	<li>
 	<span>{{item.name}}</span>
 	
 	<img src="{{item.thumbnail}}"/>
 	<span>{{item.price}}</span>
 	<span>{{item.seller}}</span>
 	
 	</li>
 	{% endfor %}
 	</ul>
 	</div>
 	
 	<div>
 		publicidade
 	</div>

</div>

{% endblock main %}
