<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">	
	
	<head>		
		
		<meta charset="utf-8"/>
		<title>Quanto Custa Para...</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="${tg.url('/images/favicon.ico')}"/>
		<link rel="stylesheet" href="${tg.url('/css/style.css')}" />
				
		<!--[if IE 6]>
            <link rel="stylesheet" href="${tg.url('/css/ie6.css')}" />
        <![endif]--> 
        <!--[if IE 7]>
            <link rel="stylesheet" href="${tg.url('/css/ie7.css')}" />
        <![endif]-->
	</head>
	
	<body>	
		
		<div id="wrap">
        	
        	<div id="header">
            	
        		<h1>Quanto Custa Para</h1>
        		       	
        		<form id="form">
        			<input type="text" autofocus="" placeholder="quanto custa para fazer um..."/>
        		</form>
        		            	

            	<div id="nav">
					
					<ul>
						<li><a href="#" class="large">fazer um brigadeiro?</a><span></span></li>
						<li><a href="#" class="normal">fazer um casamento?</a><span></span></li>
						<li><a href="#" class="large">fazer um churrasco?</a><span></span></li>
						<li><a href="#" class="small">fazer um almoço de natal?</a><span></span></li>
						<li><a href="#" class="normal">fazer uma bacalhoada?</a><span></span></li>
						<li><a href="#" class="normal">fazer uma noite de hamburguer?</a><span></span></li>
						<li><a href="#" class="large">fazer um chá de bebê?</a><span></span></li>
						<li><a href="#" class="small">fazer uma torta?</a><span></span></li>
					</ul>
            		
            	<div id="columns">
            		<p ><img src="${tg.url('/images/magnifier-left.png')}"/>Use o campo de busca e procure o que quiser.</p>
            		<p ><img src="${tg.url('/images/edit.png')}"/>Compare preços, crie e edite suas categorias.</p>
            	</div>	
            		
            	<p><img class="botimg" src="${tg.url('/images/config-users.png')}"/>Use seu perfil do facebook para navegar. Crie e compartilhe seus eventos com seus amigos.</p>	
            		
            	</div><!--end nav-->

            </div><!--end header-->
            
            <div id="frontpage-content">      
    			
    			<h4>O que as pessoas estão fazendo agora:</h4>
    			
    			<div id="frontpage-intro">
    				<p>Churrasco <span></span><a href="#" class="custabut">Quanto Custa</a></p>
    				<p>Brigadeiro<span></span><a href="#" class="custabut">Quanto Custa</a></p>
    				<p>Formatura<span></span><a href="#" class="custabut">Quanto Custa</a></p>
    			</div>
    	
    			    			
    		</div><!--end frontpage-content--> 
    		
    		<div id="footer">
				
				<p class="copyright"><a href="#">&copy; 2012 QuantoCustaPara</a></p>
				<p><a href="#">Sobre</a></p>
				<p><a href="#">Mídia</a></p>
				<p><a href="#">Blog</a></p>
				<p><a href="#">Termos</a></p>
				<p><a href="#">Privacidade</a></p>
				<p>
					<a href="#">FaleConosco</a>
					<a href="https://www.facebook.com/QuantoCustaPara" class="buttons"><img src="${tg.url('/images/facebook-icon-16x16.png')}"/></a>
					<a href="https://www.twitter.com/QuantoCustaPara" class="buttons"><img src="${tg.url('/images/twitter16x16.gif')}"/></a>
					<a href="#" class="buttons"><img src="${tg.url('/images/th_rss-icon-16x16.gif')}"/></a>
				</p>
				
				 
				
			</div><!--end footer-->
            
    	</div><!--end wrap-->	
    	
	</body>	
	
</html>