{% extends "template.html" %}

{% block header %}            	
        		<h1>Quanto Custa Para</h1>
        		       	
        		<form id="form">
        			<input name="search" type="text" autofocus="" placeholder="quanto custa para fazer um..."/>
        		</form>
        		            	

            	<div id="nav">
					
					<ul>
						{% for ct in cloud_list %}
							<li><a href="#" class="{{ct.size}}">fazer um{{ct.article}} {{ct.name}}?</a><span></span></li>
						{% endfor %}
					</ul>
            		
            	<div id="columns">
            		<p ><img src="/static/images/magnifier-left.png"/>Use o campo de busca e procure o que quiser.</p>
            		<p ><img src="/static/images/edit.png"/>Compare preços, crie e edite suas categorias.</p>
            	</div>	
            		
            	<p><img class="botimg" src="/static/images/config-users.png"/>Use seu perfil do facebook para navegar. Crie e compartilhe seus eventos com seus amigos.</p>	
            		
            	</div><!--end nav-->
{% endblock %}

{% block main %}
    			
    			<h4>O que as pessoas estão fazendo agora:</h4>
    			
    			<div id="frontpage-intro" class="left">
    				<p>Churrasco <span></span><a href="#" class="custabut">Quanto Custa</a></p>
    				<p>Brigadeiro<span></span><a href="#" class="custabut">Quanto Custa</a></p>
    				<p>Formatura<span></span><a href="#" class="custabut">Quanto Custa</a></p>
    			</div>
    			
    			<div id="frontpage-intro" class="right facebook_iframe">
    				<div class="fb-like" data-href="http://www.quantocustapara.com.br" data-send="true" data-width="450" data-show-faces="true"></div>
    			</div>	
    			 
    	
{% endblock %}
