<!DOCTYPE html>
<html>	
	
	<head>		
		
		<meta charset="utf-8"/>
		<title>Quanto Custa Para...</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/>
		<link rel="stylesheet" href="/static/css/style.css" />
				
	</head>
	
	<body>	
		
		<div id="wrap">
        	
        	<div id="header">
         		{% block header %} {% endblock %}
            </div><!--end header-->
            
            <div id="frontpage-content">      
				{% block main %} {% endblock %} 
    		</div><!--end frontpage-content--> 
    		
    		<div id="footer">
				
				<p class="copyright"><a href="#">&copy; 2012 QuantoCustaPara</a></p>
				<p><a href="#">Sobre</a></p>
				<p><a href="#">Mídia</a></p>
				<p><a href="#">Blog</a></p>
				<p><a href="#">Termos</a></p>
				<p><a href="#">Privacidade</a></p>
				<p>
					<a href="#">FaleConosco</a>
					<a href="https://www.facebook.com/QuantoCustaPara" class="buttons"><img src="/static/images/facebook-icon-16x16.png"/></a>
					<a href="https://www.twitter.com/QuantoCustaPara" class="buttons"><img src="/static/images/twitter16x16.gif"/></a>
					<a href="#" class="buttons"><img src="/static/images/th_rss-icon-16x16.gif"/></a>
				</p>
				
				 
				
			</div><!--end footer-->
            
    	</div><!--end wrap-->	
    	
	</body>	
	
</html>